@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Montserrat:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#login_bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
::placeholder{
    color: black;
}

.container {

    color: white;
    position: absolute;
    top: 15%;
    left: 12%;
    width: 20%;
}

.container h1 {
    width: 50%;
    font: size 40px;
    border-bottom: black;
    margin-bottom: 35px;
    padding: 13px 0;
    font-family: 'Alkatra', cursive;
    font-family: 'Montserrat', sans-serif;
    color: black;


}

.box {
    width: 100%;
    border-bottom: 3px solid black;
    margin: 22px 0px;

}

.box input {
    background: none;
    width: 90%;
    border: none;
    outline: none;
    color: black;
    padding: 5px 0px;
    font-size: 17px;
}

.btn {
    cursor: pointer;
    outline: none;

    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid black;
    border-radius: 8%;
    font-size: 18px;
    background: none;
    font-weight: bold;

}

.btn:hover {
    color: white;
    background: black;
}

